body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-items {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text {
  font-size: 13px;
  color: rgb(99, 79, 79);
}

.text_md {
  font-size: 15px;
  color: rgb(99, 79, 79);
}

.title {
  margin: 30px 0 20px 0;
  font-size: 16px;
  font-weight: bold;
}

.menu_icon {
  font-size: 30px;
  margin: 10px 0 40px 0;
  cursor: pointer;
  display: none;
}

.width {
  width: 70%;
  margin: 0 auto;
}

.separator {
  width: 1px;
  height: 12px;
  margin: 0 6px;
  background-color: rgb(206, 182, 182);
}

.header {
  margin: 15px 0;
}

.header i {
  font-size: 15px;
}

.header a {
  font-size: 12px;
  text-decoration: none;
  color: rgb(99, 79, 79);
}

.logo_item {
  position: relative;
}

.logo_web {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo_web img {
  height: 70px;
  width: 300px;
}

.logo_icon img {
  height: 35px;
  width: 35px;
}

.nav {
  margin: 32px 0;
  font-size: 13px;
}

.nav_group {
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav_item {
  padding: 18px 20px;
  transition: background-color 0.3s;
  text-align: center;
}

.nav_item a {
  color: rgb(99, 79, 79);
  text-decoration: none;
}

.dashed_line {
  width: 1px;
  height: 50px;
  margin-left: 16px;
  border-left: 1px dotted rgb(221, 224, 33);
  border-width: thick;
}

.nav_group:hover {
  background-color: rgb(221, 224, 33);
}

.nav_group:hover .nav_item a {
  color: white;
}

.nav_group:hover + .dashed_line {
  border-color: rgb(221, 224, 33);
}

.about {
  padding: 40px 0 0 0;
  font-size: 24px;
  letter-spacing: 1px;
  color: rgb(99, 79, 79);
}

.horizontal {
  width: 100%;
  height: 1px;
  background-color: rgb(122, 89, 89);
}

.banner {
  margin: 26px 0 50px 0;
}

.banner img {
  height: 350px;
  width: 100%;
}

.about_item {
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

.event {
  width: 25%;
}

.about_item img {
  height: 60px;
  width: 60px;
}

.dashed_line_main {
  width: 1px;
  height: 185px;
  margin: 0 20px;
  border: 1px dashed rgb(197, 182, 182);
}

.img_web {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px 0 70px 0;
}

.img_web img {
  height: 320px;
  width: 100%;
}

.background_footer {
  background-color: rgb(236, 231, 231);
}

.footer_document {
  width: 33.33%;
}

.address .phone {
  margin-bottom: 12px;
}

.address p {
  margin: 0;
  line-height: 1.4;
}

.about_us {
  line-height: 1.4;
}

.join {
  line-height: 1.4;
}

.footer_hashed_line {
  width: 1px;
  height: 185px;
  margin: 25px 25px 10px 25px;
  border: 1px dashed rgb(197, 182, 182);
}

.footer_inp {
  width: 255px;
  border: 1px solid rgb(197, 182, 182);
  background-color: white;
}

.footer_inp i {
  padding: 2px;
  font-size: 30px;
}

.email_inp {
  width: 230px;
  outline: none;
  border: none;
  padding-left: 12px;
}

.bord_img {
  margin: 0 5px;
}

.icon_link {
  margin-bottom: 40px;
}

.icon_link img {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(197, 182, 182);
  border-radius: 50%;
}

.footer_item {
  background-color: rgb(126, 116, 116);
}

.footer_item a {
  text-decoration: none;
  color: white;
}

.separator_footer {
  width: 1px;
  height: 15px;
  margin: 20px 20px;
  background-color: white;
}

@media screen and (max-width: 1160px) {
  .header {
    display: none;
  }

  .logo_icon {
    display: none;
  }

  .dashed_line {
    display: none;
  }

  .nav {
    display: none;
    background: rgb(216, 213, 213);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 2px;
    margin: 0;
  }

  .nav.show {
    display: block;
  }

  .menu_icon {
    display: block;
    display: flex;
    justify-content: start;
  }

  /* .about_item {
    flex-direction: column;
  }

  .event {
    width: 48%;
    height: 500px;
  }

  .dashed_line_main {
    width: 250px;
    height: 1px;
    border: 1px dashed rgb(197, 182, 182);
  } */
}

@media screen and (max-width: 1000px) {
  .footer_about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_hashed_line {
    width: 250px;
    height: 1px;
    border: 1px dashed rgb(197, 182, 182);
  }

  .img_web {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .img_web img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* tuỳ chọn nếu muốn cắt ảnh đều */
  }

  .footer_inp {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .footer_item a {
    font-size: 10px;
  }
}
